<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="assetbuilder" type="BinaryAssetBuilder.SerializedSectionHandler,BinaryAssetBuilder.Core" />
    <section name="BABFileMetricsListener" type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>
  <assetbuilder serializedType="BinaryAssetBuilder.Settings,BinaryAssetBuilder.Core"
                schema="..\schemas\ra3\xsd\CnC3Types.xsd"
                dataRoot=".."
                defaultArtPaths=".\Art"
                defaultAudioPaths=".\Audio"
                defaultDataPaths=".;.\Data;.\SageXml"
                monitorPaths="..\">
    <monitorPaths>
      <path value="t" />
    </monitorPaths>
    <plugins>
      <!--
      <plugin assetTypes="W3DAnimation" enabled="true" targetType="BinaryAssetBuilder.W3XCompiler.Plugin, BinaryAssetBuilder.W3XCompiler" />
      <plugin assetTypes="GameObject,WeaponTemplate,ArmorTemplate" enabled="true" targetType="BinaryAssetBuilder.Tokenizer.Plugin, BinaryAssetBuilder.Tokenizer" />
      <plugin assetTypes="#all" enabled="true" targetType="BinaryAssetBuilder.XmlCompiler.Plugin, BinaryAssetBuilder.XmlCompiler" />-->
    </plugins>
    <verifiers>
      <!-- plugin assetTypes="#all" enabled="true" targetType="BinaryAssetBuilder.GameDataVerifier.Plugin, BinaryAssetBuilder.GameDataVerifier" />-->
    </verifiers>
    <stringHashBins>
      <Type SchemaType="Poid" Bin="POID" />
      <Type SchemaType="StringHash" Bin="STRINGHASH" />
    </stringHashBins>
    <buildConfigurations>
      <buildConfiguration name="LowLOD" postfix="L" />
      <buildConfiguration name="MediumLOD" postfix="M" />
    </buildConfigurations>
  </assetbuilder>
  <BABFileMetricsListener>
    <add key="filepathstub" value="metrics" />
  </BABFileMetricsListener>
</configuration>