<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="assetbuilder" type="BinaryAssetBuilder.SerializedSectionHandler,BinaryAssetBuilder.Core" />
    <section name="BABFileMetricsListener" type="System.Configuration.NameValueFileSectionHandler" />
  </configSections>
  <assetbuilder serializedType="BinaryAssetBuilder.Settings,BinaryAssetBuilder.Core"
                schema="..\schemas\xsd\CnC3Types.xsd"
                dataRoot=".."
                defaultArtPaths=".\Art"
                defaultAudioPaths=".\Audio"
                defaultDataPaths=".;.\Data;.\SageXml">
    
  </assetbuilder>
</configuration>